<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/chat.css" /> -->
    <title>Chat service</title>
  </head>
  <body>
    <h1>Live chat</h1>

    <input id="msgInput" type="text" placeholder="Write your message">
    <button onclick="sendMessage()">Send</button>
    <button onclick="sendNotification()">Send notification</button>

  <ul id="messages"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/JS/chat.js"></script>
  </body>
</html>
